
@*
    Pass in variables by making the class inside the view to call, 
    pass it in the View() method in the controller.
    add @model <class name> to the cshtml file
*@
@{
}
        <div class="card shadow w-auto h-100 p-0 m-1">
            <div class="card-body">
                <h5 class="card-title">Create This Task</h5>
                <h6 class="card-subtitle mb-2 text-muted">5 of 10 completed | Due in 6 hours</h6>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>