@model CustomerModel
<form asp-action="Create" asp-controller="Customer" method="post">
    @Html.Partial("FormText", 
    new FormTextModel {Name="Name", NameOf=nameof(Model.Name), Description="Name", Value=Model.Name})
    <input type="submit" class="btn btn-primary" value="Save" />
</form>